{namespace example}

/**
 * Says hello to the world.
 */
{template .badtemplate}
<html>
    <head>
        <title>Rendered Soy {$wrong} Template</title>
    </head>
    <body>
        <h1>It works!</h1>
        <p>
            Here is a very simple soy template.
        </p>
    </body>
</html>
{/template}