{namespace playground.time}

/**
 * Just message example for xlf generation in the same namespace as TimeDisplay
 */
{template .DateDisplay}
    {msg desc="Date display message label"}
        Date:
    {/msg}
{/template}
