{namespace playground.time.utc}

/**
 * Just message example for xlf generation in another namespace
 */
{template .TimeDisplay}
    {msg desc="Time UTC label another namespace"}
        Time UTC label:
    {/msg}
{/template}
