{namespace error}

/**
 * Internal server error
 */
{template .e500}
  <h1>INTERNAL SERVER ERROR 500</h1>
{/template}

/**
 * Unauthorized error
 */
{template .e401}
  <h1>UNAUTHORIZED 401</h1>
{/template}

/**
 * Not found error
 */
{template .e404}
  <h1>NOT FOUND 404</h1>
{/template}
